name: CI

on:
  pull_request:
  push:
    branches: [main]

env:
  EB_OUTPUT_DIR: ./public/data

jobs:
  ci:
    name: Lint and test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
        python-version: [3.12]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Cache node_modules
        id: cache-node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('package.json', 'package-lock.json') }}

      - name: Install Node dependencies
        run: npm ci --prefer-offline --no-audit

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}

      - name: Lint the project
        run: npm run lint:all

      - name: Check JSON db formating
        run: npm run db:validate

      - name: Run python tests
        run: npm run test
